#container {
    width:100%;
    height: 100%;
}

.node{
    width: 50px;
    height: 50px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
}

.node:hover div{
    display: block;
}

.node div{
    position: relative;
    left: 60px;
    top: 5px;
    z-index: 300;
    display: none;
}

.line {
    border-top: 5px dashed red;
    height: 0px;
    position: absolute;
}