.gridBox {
    display: grid;
    grid-template-columns: 3fr 5fr;
    background-color: #2196F3;
    padding: 10px;
    max-width: 90vw;
    margin: auto;
}
/*
ul{
  list-style-type: none;
}

li::before{
  font-weight: bolder;
  content: "-";
}
*/
li{
cursor: pointer;

}

ul>li>ul>li:hover{
  font-weight: bold;
}

img{
  max-width: 100%
}

#titelArikkel{

}

bildeArtikkel{

}

#tekstArtikkel{

}
/*
#listeArtikkler>li,
#hytter>li {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
  width: 150px;
}*/