.gridBox {
    display: grid;
    grid-template-columns: 5fr 3fr 3fr;
    background-color: #2196F3;
    padding: 10px;
  }

.gridBox > div {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }

#titelArikkel{

}

bildeArtikkel{

}

#tekstArtikkel{

}