.articleContainer {
    display: grid;
    grid-template-columns: 3fr 10fr;
    gap: 1%;
    max-width: 90vw;
    margin: auto;
}

#listContainer{
  background-color: gray;
}

#artikkelen{
  background-color: lightgray;
}

li{
cursor: pointer;

}

ul>li>ul>li>ul>li:hover{
  font-weight: bold;
}

img{
  max-width: 95%;
  padding: 2%;
}

@media (min-width: 1000px){
  img{
    max-width: 33%;
    float: left;
  }
}

h2{
  margin-top: 1%;
  margin-bottom: 7%;
}

#titelArikkel{

}

bildeArtikkel{

}

#tekstArtikkel{

}
/*
#listeArtikkler>li,
#hytter>li {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
  width: 150px;
}*/