@media(max-width: 1300px){
    #recap, #info{
        overflow-x: scroll;
        grid-row: 2/3
    }
}

:root{
    --nodeDisplayWidth: 750px;
}

main{
    height: 80vh;
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: 7fr 3fr 3fr;
    grid-template-rows: auto auto;
    gap: 1%;
}

#nodeContainer {
    background-image: url('../img/oppdalskart.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: var(--nodeDisplayWidth);
    height: calc(500/750 * var(--nodeDisplayWidth));
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row: 1/2;
    position: relative;
    overflow: hidden;
}



#recap {
    border:1px solid black;
    height: 100%;
    width:100%;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}

.recapInstance {
    height: 10%;
    display: flex;
    padding-bottom: 10px;
}


.recapInstance>img{
    max-width: 100%;
    max-height: 100%;
}

.recapInstance>div{
    padding: 5px;
}

.hytteNavn{
    align-self: center;
}

.daysToStay>input{
    width: 23%;
}

canvas{
    z-index: 10;
    grid-column: 1/2;
    grid-row: 1/2;
    width: var(--nodeDisplayWidth);
    height: calc(500/750 * var(--nodeDisplayWidth));
}

.node{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    z-index: 200;
}

.node:hover{
    transform:scale(1.1);
}

.node:hover div{
    display: block;
}

.node:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.node:active{
    transform: scale(1);
}

.node div{
    position: relative;
    left: 60px;
    top: 5px;
    z-index: 300;
    display: none;
}

#info {
    height: 100%;
    border-collapse: collapse;
    display: table;
    border: 1px solid black;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

#info>h2{
    margin-left: 10px;
}

#info>img{
    width: 100%;
}

#infoSplit{
    display: flex;
    overflow-x: auto;
}

#infoFeatures{
    flex-shrink: 0;
    margin-right: 15px;
    margin-left: 10px;;
}

#infoText{
    margin-right: 10px;
}

#bottomWrap{
    display: table-row;
    vertical-align: bottom;
    height: 115px;
    margin-bottom: 10px;
}

#buttonWrap{
    display: flex;
}

.button{
    margin: auto;
    background-color: rgb(5, 189, 66);
    border: 1px solid rgb(5, 160, 56);
    width: 80%;
    font-size: 18px;

    transition: 0.3s;

    height: 18px;
    padding: 8px;
    align-self: center;
    text-align: center;
    user-select: none;
    cursor:pointer;
}

.button:hover{
    transform: scale(1.1);
    background-color: green;
}

.button:active{
    transform: scale(1);
}