:root {
    --nodeDisplayWidth: 750px;
}

main {
    /*height: 80vh;*/
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: 7fr 3fr 3fr;
    grid-template-rows: auto auto;
    gap: 1%;
}

#nodeContainer {
    background-image: url('/img/oppdalskart.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: var(--nodeDisplayWidth);
    height: calc(500/750 * var(--nodeDisplayWidth));
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row: 1/2;
    position: relative;
}



#recap {
    border: 1px solid black;
    height: 100%;
    width: 100%;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}

.recapInstance {
    display: flex;
    padding-bottom: 10px;
}

h4 {
    margin: 0;

}

.imgContainer {
    max-width: 33%;
    float: left;
}

.recapInstance>div {
    padding: 5px;
}

.hytteNavn {
    align-self: center;
}

.daysToStay>input {
    width: 23%;
}

canvas {
    z-index: 10;
    grid-column: 1/2;
    grid-row: 1/2;
    width: var(--nodeDisplayWidth);
    height: calc(500/750 * var(--nodeDisplayWidth));
}

.node {
    width: 6%;
    height: 8.5%;
    border-radius: 50%;
    position: absolute;
    z-index: 200;
}

.node[style] {
    border-radius: 0;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent !important;
}

.node[style*="red"] {
<<<<<<< HEAD:P3/Styling/booking.css
    background-image: url(../img/house_icon_black.png);
}

.node[style*="yellow"] {
    background-image: url(../img/house_icon_yellow.png);
}

.node[style*="green"] {
    background-image: url(../img/house_icon_green.png);
}

.node[style*="dark"] {
    background-image: url(../img/house_icon_green_destinasjon.png);
}

.node[style*="light"] {
    background-image: url(../img/house_icon_green_start.png);
=======
    background-image: url(/Webtek-prosjekt/P3/img/house_icon_black.png);
}

.node[style*="yellow"] {
    background-image: url(/Webtek-prosjekt/P3/img/house_icon_yellow.png);
}

.node[style*="green"] {
    background-image: url(/Webtek-prosjekt/P3/img/house_icon_green.png);
}

.node[style*="dark"] {
    background-image: url(/Webtek-prosjekt/P3/img/house_icon_green_destinasjon.png);
}

.node[style*="light"] {
    background-image: url(/Webtek-prosjekt/P3/img/house_icon_green_start.png);
>>>>>>> 8e8c85c39af01b4acc9afb2adfe6f7856786a5b9:P3/styling/booking.css
}

.node:hover {
    transform: scale(1.1);
}

.node:hover div {
    display: block;
}

.node:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.node:active {
    transform: scale(1);
}

.node div {
    position: relative;
    left: 60px;
    top: 5px;
    z-index: 300;
    display: none;
}

#info {
    height: 100%;
    border-collapse: collapse;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    /* grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2; */
}

#info>h2 {
    margin-left: 10px;
}

#info>img {
    width: 100%;
}

#infoSplit {
    display: flex;
    /*overflow-x: auto;*/
}

#infoFeatures {
    flex-shrink: 1;
    margin-right: 15px;
    margin-left: 10px;
    ;
}

#infoText {
    margin-right: 10px;
}

#bottomWrap {
    display: table-row;
    vertical-align: bottom;
    height: 115px;
    margin-bottom: 10px;
}

#buttonWrap {
    display: flex;
}


@media(max-width: 1200px) {
    :root {
        --nodeDisplayWidth: 500px;
    }
}

@media(max-width: 915px) {
    :root {
        --nodeDisplayWidth: 400px;
    }

    h2 {
        font-size: 1em;
    }
}

@media(max-width: 800px) {
    :root {
        --nodeDisplayWidth: 300px;
    }

    img {
        display: none;
    }

    h2 {
        font-size: 0.75em;
    }

    .recapInstance {
        border-top: 1px solid black;
        margin-top: 10px;
        margin: 5px;
    }
}

@media(max-width: 650px) {
    h2 {
        font-size: 0.5em;
    }
}

@media(max-width: 600px) {

    #recap,
    #info {
        overflow-x: scroll;
        grid-row: 2 / 3
    }

    #info {
        grid-column: 1/2;
    }

    #recap {
        grid-column: 2/3;
    }

    canvas,
    #nodeContainer {
        grid-column: 1/3;
    }

    main {
        grid-template-columns: auto auto;
    }
}