/** {
  box-sizing: border-box
}'*/

#body_wrapper {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  row-gap: 1rem;
  width: 100%;
}

#home_slides {
  width: 100%;
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}

.dotContainer{
  position: absolute;
  bottom: 0px;
  left: 50%;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.mySlides>img {
  background-size: contain;
}

.slideshow-container {
  /*max-width: 750px;*/
  max-height: 500px;
  height: 70vh;
  position: relative;
  grid-column: 1/3;
  grid-row: 1/2;
}

.mySlides{
  display: none;
  margin: 0;
  margin-top: 10px;
  height: 100%;
}

#home_slides img {
  width: 100%;
}

/* Artikkel-styling Homesiden */
#home_news {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  width: auto;
  margin-right: 0.5rem;
  height: calc(126px * 1.05 * 3);
}

.art_home {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: auto auto;
}

.art_img {
  width: 100%;
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  object-fit: contain;
}

.art_titel {
  display: inline-block;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  height: auto;
  overflow: hidden;
}

.art_tekst {
  display: inline-block;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  max-height: 4.5em;
  overflow: hidden;
  margin-bottom: 0.5em;
}

#home_weather {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  width: auto;
  margin-left: 0.5rem;
  height: auto;
}

img {
  max-width: 100%;
}