.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2s;
  animation-name: fade;
  animation-duration: 2s;
}

@-webkit-keyframes fade {
  from {
    opacity: .65
  }

  to {
    opacity: 1
  }
}

@keyframes fade {
  from {
    opacity: .65
  }

  to {
    opacity: 1
  }
}

.dotContainer {
  position: absolute;
  bottom: 5%;
  z-index: 100;
  left: 30%;
}



.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

@media(max-width: 900px) {
  .dotContainer {
    left: 20%;
  }

  .dot {
    height: 13px;
    width: 13px;
  }
}

@media(max-width: 700px) {
  .dotContainer {
    left: 10%;
  }

  .dot {
    height: 11px;
    width: 11px;
  }
}

@media(max-width: 700px) {

  .dot {
    height: 9px;
    width: 9px;
  }
}

#tilbehørDiv {
  float: right;
  background-color: darkgray;
  margin: 2%;
  max-width: 33%;
}

.liste_hytte_container {
  display: grid;
  grid-template-columns: 150px auto;
  gap: 1%;
  width: 100%;
  margin: auto;
  min-height: 0;
  min-width: 0;
}

#infoContainer {
  padding: 2%;
}

#hytter_liste {
  background-color: darkslategray;
  color: white;
  font-size: large;
  margin: 0;
  padding: 5px;
  list-style-type: none;
}

#hytter_liste>li {
  padding: 3px;
}

#hytter_liste>li:hover {
  font-weight: bold;
}

#dotAndSlideShowContainer {
  position: relative;
}

.mySlides {
  margin: 0;
  padding: 0;
  width: 100%;
}

.mySlides>img {
  object-fit: contain;
  width: 100%;
}

#hytten {
  background-color: lightgray;
  max-width: 100%;
}

ul>li:hover {
  cursor: pointer;
}

#slideshow_hytter {
  width: 100%;
  padding: 0;
}

/*
@media (min-width: 1000px) {
  #slideshow_hytter {
    max-width: 33%;
    float: left;
  }
}*/

@media (max-width: 420px) {
  ul {
    margin: 0;
    padding-inline-start: 0px;
  }
}

h2 {
  margin-top: 1%;
  margin-bottom: 7%;
}