body {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#skjema {
  border-radius: 5px;
  background-color: #A2CC8D;
  padding: 20px;
  width: 50%;
  margin: auto auto;
}

fieldset {
  border-color: white;
  border-style: solid;
  font-style: italic;
}

fieldset legend {
  font-size: 150%;
}

#bekreftbestilling:hover {
  background-color: #64A842;
  cursor: pointer;
}

#returnerHjem:hover {
  background-color: #64A842;
  cursor: pointer;
}

#avbrytbestilling {
  display: inline-block ;
  cursor: pointer;
}



#avbrytbestilling:hover{
  background-color: #D60E00;
  cursor: pointer;
}

input[type=text], select {
  width: 100%;
  box-sizing: border-box;
  padding: 12px 20px;
  margin: 8px 0;
}

#postnummer {
  width: 20%;
}

#poststed {
  width: 40%;
}

#epost {
  padding: 12px 20px;
}

#pris{
  margin-left: 0;
}

a {
  text-decoration: none;
}

input[type="submit"] {
  display: none;
}
