nav>ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  background: #64A842;
}

nav>ul>li>a{
  display: block;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  color: black;
  border: 1px solid black;
}

nav>ul>li{
  display: inline-block;
  width: 150px;
}

nav>ul>li>a:hover{
  background: darkgreen;
}

#container{
  width: 70%;
  margin: auto;
}