nav{
  display: flex;
  width: 100%;
  background-color: #64A842;
  height: 10%;
}

.navElement {
  background-color: #64A842;
  display: flex;
  margin: 0;
  height: 100%;
  width: 16%;
  text-align: center;
  justify-content: center;

}

#container{
  margin: auto;
  width: 75%;
  height: 500px;
}