.active, .dot:hover {
      background-color: #717171;
    }

    /* Fading animation */
    .fade {
      -webkit-animation-name: fade;
      -webkit-animation-duration: 2s;
      animation-name: fade;
      animation-duration: 2s;
    }

    @-webkit-keyframes fade {
      from {
        opacity: .65
      }

      to {
        opacity: 1
      }
    }

    @keyframes fade {
      from {
        opacity: .65
      }

      to {
        opacity: 1
      }
    }