body {
    font-family: Georgia, Arial, Helvetica, sans-serif;
}

h1, h2 {
    color: #00aaaa;
}

.wrapper {
    margin: auto;
    width: 800px;
    padding: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    background-color: #ddd;
}