body {
    font-family: Georgia, Arial, Helvetica, sans-serif;
}

h1, h2, h3 {
    color: #00aaaa;
}

.wrapper {
    margin: auto;
    /*width: 800px;*/
    
}

.wrapper>div {
    padding: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    margin: 25px;
    
}

header {
    text-align: center;
}

#req h3{
    text-align: center;
}

#gridWrapper {
    display: inline-grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    height: 700px;
    
    width: 90%;
}

#gridWrapper>div {
 width: 300px;
 border: 1px solid black;
 display: inline-block;
 background-color: #ddd;
}